* {
    margin: 0;
    padding: 0;
}
/* Estilos del Header */
header {
    background: #1d3557;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Raleway", sans-serif;
    color: #f1faee;
    text-align: center;
    font-size: 50px;
}

/* Estilos Generales */
body {
    background: #f1faee;
}

a {
    text-decoration: none;
    color: #291f1e;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

/* Estilos a la sección de Introduccion */
.introduction {
    width: 65%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentIntro {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    width: 70%;
    text-align: justify;
}

.contentIntro p {
    padding: 15px;
}

/* Estilos a la tabla de contenido */
.content {
    width: 65%;
    margin: auto;
}

.content p {
    font-size: 17px;
    color: #e63946;
}

.content ol {
    padding-left: 30px;
    font-size: 15px;
}

.content li {
    padding-bottom: 6px;
}

/* Estilos para los div de cada seccion */
.biografia,
.solucion,
.maquinaTuring,
.analisisCripto,
.pruebaDeTuring,
.procesamientoYMuerte,
.reconociomientoPostumo {
    width: 65%;
    margin: auto;
    margin-top: 20px;
}

/* Estilos para el texto de cada seccion */
.biografia p,
.solucion p,
.maquinaTuring p,
.analisisCripto p,
.pruebaDeTuring p,
.procesamientoYMuerte p,
.reconociomientoPostumo p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 15px;
}

/* Estilos para una lista en las seccion Solucion */
.solucion ul {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}
